body {
    margin: 0;
}

.page {
    background-color: #001124;
    width: 100%;
    margin: 0px auto;
}

.left {
    width: 100%;
    /*padding-top: 7.3rem;*/
    /*padding-left: 8.94rem;*/
    padding-bottom: 15.06rem;
    display: flex;
    justify-content: space-evenly;
}

.left img {
    width: 30%;
}

.right {
    height: 80%;
    margin-top: 6.69rem;
    /*margin-left: 14.31rem;*/
}

.form {
    width: 65%;
    height: 60%;
    font-family: 'Padauk';
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: white;
    margin: 0px auto;
}

.input {
    width: 22.55rem;
    height: 2.7rem;
    margin-bottom: 0.68rem;
}

.regform {
    width: 25rem;
    height: 3.875rem;
    font-family: 'DM Serif Display';
    font-size: 2.8rem;
    line-height: 3.875rem;
    margin-bottom: 2.375rem;
}

.name {
    margin-top: 2.374rem;
}

.pswrd {
    margin-top: 0.7rem;
}

.btn {
    width: 180px;
    height: 43px;
    font-weight: 700;
    background-color: #015FC7;
    color: white;
    margin-top: 1.62rem;
    margin-bottom: 6.75rem;
}

.btn a {
    text-decoration: none;
    color: white;
}