body {
    margin: 0;
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.7rem;
}

.header {
    width: 100%;
    height: 129px;
    background-color: black;
    display: flex;
    text-align: center;
    /*align-items: center;*/
    position: fixed;
    z-index: 2;
}

.header img {
    width: 253px;
    height: 129px;
}


.navigation {
    display: flex;
    list-style: none;
    padding-left: 18rem;
    justify-content: space-between;
}

li {
    color: white;
    padding: 0px 1.5rem;
}

li a {
    text-decoration: none;
    color:white
}

.twosides {
    display: flex;
    padding-top: 8rem;
}

.twosides img {
    width: 80%;
}

.left {
    padding: 1.5rem 3.2rem 0px 4.7rem;
}

.sentence {
    font-size: 4rem;
    line-height: 4.8rem;
}

.form {
    width: 55%;
    background-color: #E5E5E5;
}




.footer_nav {
    
}