/*Псевдо элемент root. Мы задали значение для "rem'ов".
То есть теперь 1rem=20px.
:root {
    font-size: 20px;
}*/

body {
    font-weight: 400;
    margin: 0px;
    background-color: #F5F5F5;
    font-family: 'PT sans', sans-serif;
}


.header-top {
    max-height: 65px;
    background-color: #243B93;
    display: flex;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
    box-sizing: border-box;
    
}

.logo {
    width: 10%;
    display: flex;
    align-items: center;
    padding: 7px 0 8px 0px;
    /*padding-left: 80px;*/
}

.logo img {
    max-width: 140px;
    max-height: 50px;
}

.img1 {
    width: 90px;
    height: 63px;
}

.header-top__nav {
    width: 90%;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 3px;
    display: flex;
    justify-content: space-evenly;
    color: white;
    list-style: none;
    align-items: center;
    width: 100%;
    text-align: center;
}

li {
    text-align: center;
}

.header-top__nav a {
    color: #FFFFFF;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 1rem;
    letter-spacing: 16%;
}

.title {
    height: 85px;
    background-color: #BFF0FF;
}

.title h1 {
    font-style: italic;
    font-size: 2.75rem;
    margin: 0 auto;
    padding: 1.1% 0px .7% 15%;
    color: #202846
}

.container {
    width: 80%;
    height: 57px;
    margin: 1.9% 15% 0 15%;
    /*padding: 0.7%;*/
    box-sizing: content-box;
    background-color: white
}

.place {
    font-size: 1.75rem;
    padding: .8% 0;
    text-align: center;
    color: rgba(0, 0, 0, 0.61);
}

.container-card {
    margin: 0 auto;
}

.card {
    width: 100%;
    height: 300px;
    background: linear-gradient(92.95deg, #A9CBD6 0%, #0AB1E6 100%);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 2.3%;
    /*margin-bottom: 3.3%;*/
    box-sizing: border-box;
    padding: 3% 3%;
    position: relative;
}

.left {
    width: 40%;
}

.left img {
    width: 100%;
    /*padding-left: 52px;*/
}

.right {
    width: 58%;
    height: 100%;
    /*margin-left: 30px;*/
    /*margin-right: 52px;*/
}

.card__title {
    /*width: 280px;
    height: 47px;*/
    border-bottom: #FFFFFF;
    font-style: italic;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.625rem;
    text-align: left;
    color: #353C57;
    box-sizing: border-box;
    border-bottom: 3px solid white;
}

.parag {
    overflow: hidden;
    text-align: center;
    padding-left: 1rem;
    box-sizing: border-box;
    margin-top: 1.25%;
    /*width: 80%;*/
    min-height: 9em; /*height: 55%; - incorrect*/
    font-size: 1.375rem;
    line-height: 1.75rem;
    color: #202846;
    background-color: white;
    text-align: left;
}

.star {
    position: absolute;
    top: 6px;
    right: 8px;
}

.btn {
    position: absolute;
    bottom: 11px;
    right: -50px;
    width: 210px;
    height: 36px;
    background-color: #243B93;
    border-radius: 30px;
    color: #FFFFFF;
    text-align: center;
    align-items: center;
    text-decoration: none;
    font-size: 24px;
    line-height: 31px;
}

.card:hover {
    box-shadow: 0px 0px 60px 4px #2CBDEB;
}

.card:hover svg path {
    fill: yellow;
}

.card:hover .btn {
    background-color: #EF075B;
}