body {
    margin: 0px;
    background-color: rgb(216, 213, 213);
    font-family: Montserrat, sans-serif;
}

.wh {
    background-color: white;
    width: auto;
    height: 650px;
}

.blck {
    background-color: black;
    width: 404px;
    height: 490px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 29px;
    text-align: center;
    color: white;
    letter-spacing: 9px;
    font-weight: 600px;
    line-height: 35.35px;
}

button {
    width: 302px;
    height: 50px;
    font-weight: 800px;
    font-size: 19px;
    line-height: 23.16px;
    letter-spacing: 3px;
    background-color: black;
    color: white;
}

.brdr {
    text-align: center;
    border-style: solid;
    border-width: 4px;
    border-color: white;
    width: 302px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.brd {
    text-align: center;
    border-style: solid;
    border-width: 4px;
    border-color: white;
    width: 302px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 26px;
}