body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    align-items: center;
    text-align: center;
}

.globalHead {
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    padding: 0 8.75rem 0 0;
}

.blc {
    background-color: white;
    color: black;
    border-color: #212529;
    margin: .5rem 0;
}

.navbar-brand {
    padding: 1rem 0 1rem 8.75rem;
}

.navbar-nav {
    margin-left: 2.8rem;
}

.carSize img {
    width: 200px;
    height: 250px;
}

.containerCard {
    margin: 6rem 9rem;
    background-color: #F8F9FA;
}

.frstline {
    display: flex;
    margin-bottom: 3rem;
    justify-content: space-between;
}

.secondline {
    display: flex;
    justify-content: space-between;
}

.prio {
    position: absolute;
    top: 6px;
    right: 8px;
}

.bold {
    font-weight: 700;
    font-size: 1.5rem;
}

.decorline {
    text-decoration-line: line-through;
    color: #6C757D;
}

.myltr {
    color: black;
    background-color: white;
    border-color: #212529;
}

/*.container-card img {
    width: 28rem;
    height: 18.75rem;
}*/



.footer {
    width: 100%;
    height: 104px;
    margin: 0 auto;
    background-color: #212529;
    font-size: 1rem;
    line-height: 1.5rem;
    color: white;
    text-transform: capitalize;
    padding-top: 3rem;
}