body {
    margin: 0;
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.7rem;
}

.header {
    width: 100%;
    height: 129px;
    background-color: black;
    display: flex;
    text-align: center;
    /*align-items: center;*/
    position: fixed;
    z-index: 2;
}

.header img {
    width: 253px;
    height: 129px;
}

.navigation {
    display: flex;
    list-style: none;
    padding-left: 18rem;
    justify-content: space-between;
}

li {
    color: white;
    padding: 0px 1.5rem;
}

li a {
    text-decoration: none;
    color:white
}

.title {
    font-size: 6rem;
    line-height: 7.2rem;
    padding: 12rem 4.2rem 3.2rem 4.2rem;
    text-align: center;
    align-items: center;
}

.team {
    padding: 0px 0px 2rem 0px; /*или добавлять боковые по 4.2rem*/
    justify-content: center;
    display: flex;
    transition: all 1s ease 500ms; 
}

.team:left {
   background-color: blue;

}

.left {
    justify-content: space-evenly;
    display: flex;
}

.left img {
    width: 45%;
}

.right {
    justify-content: space-evenly;
    display: flex;
}

.right img {
    width: 45%;
}