body {
    margin: 0;
    padding: 0;
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.7rem;
}

.firstVH {
    width: 100%;
    min-height: 100vh;
}

.header {
    width: 100%;
    height: 6rem;
    background-color: black;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    justify-content: space-between;
}

.header img {
    width: 100%;
    height: 100%;
}

.navigation {
    display: flex;
    list-style: none;
    text-align: center;
    align-items: center;
}

li {
    color: white;
    padding: 0 1.5rem;
}

li a {
    text-decoration: none;
    color:white
}

/*First Page*/
.twosides {
    display: flex;
    padding: 0 2rem 3rem 2rem;
}

.twosides img {
    width: 100%;
    border-radius: 30px;
    align-items: center;
    text-align: center;
}

.left {
    display: flex;
    padding-top: 1rem;
    padding-right: 1.2rem;
}

.smalll {
    padding-top: 7rem;
    padding-right: 2rem;
    padding-left: 1rem;
    animation: leftSide 2s ease-out 1 forwards;
}

.right {
    display: flex;
    padding-top: 1rem;
    padding-left: 1.2rem;
}

.smallr {
    padding-top: 7rem;
    padding-right: 1rem;
    padding-left: 2rem;
    animation: rightSide 2s ease-out 1 forwards;
}

.bottomPhotoLeft {
    padding: 1rem 0 0 0;
    animation: leftSide 1s ease-out 1 forwards;
}

.bottomPhotoRight {
    padding: 1rem 0 0 0;
    animation: rightSide 1s ease-out 1 forwards;
}

@keyframes leftSide {
    from {
        transform: translateX(-100vh);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes rightSide {
    from {
        transform: translateX(100vh);
    }
    to {
        transform: translateX(0);
    }
}

/*Second Page*/
.twosidesSecond {
    display: flex;
}

.leftSecond {
    display: flex;
    /*padding: 1.5rem 3.2rem 0px 4.7rem;*/
}

.leftSecond img {
    width: 80%;
}

.circlesUp {
    text-align: center;
}

.circlesUp-circleOne {
    animation: krugOne 6s ease-in-out infinite;
    animation-delay: .5s;
}

.circlesBot__circleThree {
    animation: krugThree 6s ease-in-out infinite;
    animation-delay: .5s;
}

.circlesUp__circleTwo {
    animation: krugTwo 6s ease-in-out infinite;
    animation-delay: .5s;
}

.circlesBot__circleFour {
    animation: krugFour 6s ease-in-out infinite;
    animation-delay: .5s;
}

@keyframes krugOne {
    0% {
        transform: translateX(0) translateY(0);
    }
    25% {
        transform: translateX(380px);
    }
    50% {
        transform: translateX(380px) translateY(425px);
    }
    75% {
        transform: translateX(0) translateY(425px);
    }
}

@keyframes krugThree {
    0% {
        transform: translateX(0) translateY(0);
    }
    25% {
        transform: translateY(425px);
    }
    50% {
        transform: translateY(425px) translateX(-380px);
    }
    75% {
        transform: translateX(-380px) translateY(0);
    }
}

@keyframes krugTwo {
    0% {
        transform: translateX(0) translateY(0);
    }
    25% {
        transform: translateY(-425px);
    }
    50% {
        transform: translateY(-425px) translateX(380px);
    }
    75% {
        transform: translateX(380px) translateY(0);
    }
}

@keyframes krugFour {
    0% {
        transform: translateX(0) translateY(0);
    }
    25% {
        transform: translateX(-380px);
    }
    50% {
        transform: translateY(-425px) translateX(-380px);
    }
    75% {
        transform: translateX(0px) translateY(-425px);
    }
}

.circlesBot {
    text-align: center;
}

.services {
    width: 24rem;
    font-size: 3rem;
    line-height: 3.7rem;
    align-items: center;
    padding-top: 1.2rem;
    padding-bottom: 2rem;
}

.rightSecond img {
    width: 100%;
    height: 53rem;
}

/* Third Page*/
.title {
    font-size: 6rem;
    line-height: 7.2rem;
    padding: 1rem 4.2rem 1rem 4.2rem;
    text-align: center;
    align-items: center;
}

.team {
    /*padding: 0px 0rem 2rem 0rem;*/
    justify-content: space-between;
    display: flex;
    text-align: center;
    align-items: center;
}

.team img {
    width: 85%;
}

.team-member {
    width: 100%;
    position: relative;
}

.team:hover > div {
    filter:brightness(25%);
}

.team > div:hover {
    filter: none;
}

.team-member-name {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 6.2rem;
    display: flex;
    align-items: center;
    color: #E5E5E5;
    margin: 0;
    background: rgba(163, 83, 10, 0.7);
    height: 0;
    justify-content: center;
    overflow: hidden;
    transition: height 1s;
}

.team-member:hover > p {
    height: 30%
}

/*Fourth Page*/
.twosidesFourth {
    width: 100%;
    display: flex;
    /*margin-top: 1rem;*/
}

.leftFourth {
    width: 60%;
    padding: 1.5rem 2.2rem 0px 1.7rem;
}

.sentence {
    font-size: 4rem;
    line-height: 4.8rem;
    text-align: center;
    align-items: center;
}

.form-section {
    margin: 0 auto;
    width: 90%;
}

.form {
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    padding: 5%;
    align-items: center;
}

.infoInput {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

input {
    width: 46%;
    font-size: 3.6rem;
    line-height: 4.4rem;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 6%;
    border: none;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    font-size: 3.6rem;
    line-height: 4.4rem;
    border: none;
    color: rgba(0, 0, 0, 0.5);
}

.rightFourth {
    width: 50%;
    padding: 1.5rem 2.2rem 0px 1.7rem;
}


.footer_nav {
    display: flex;
    padding: 4.5rem 0rem 0.8rem 0;
    justify-content: space-evenly;
}

.footerContact {
    width: 50%;
    /*padding-left: 4.7rem;
    padding-right: 4.8rem;*/
    text-align: center;
}

.footerContact a {
    text-decoration: none;
    color: black;
}

.footerSchedule {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 45%;
}

/*.oh {
    font-style: normal;
    font-size: 1.1rem;
    line-height: 2.7rem;
    align-items: center;
    text-align: center;
}*/

/*.dayWork {
    font-size: 0.9rem;
    line-height: 1.1rem;
    align-items: center;
    text-align: center;
}*/

.footerSocialNet {
    width: 35%;
    text-align: -webkit-center;
    align-items: center;
}

.socialLinks {
    width: 45%;
    text-align: left;
    align-items: center;
}

.socialLinks a {
    text-decoration: none;
    color: black;
}



/*First media task: > 992px;*/
@media screen and (min-width: 1620px) {
    body {
        width: 1600px;
        margin: 0 auto;
    }
}

/*Second media task: < 992px;*/
@media screen and (max-width: 992px) {

    .twosides img {
    width: 100%;
    padding: 3%;
    box-sizing: border-box;
    }
    .twosides {
        display: flex;
        flex-wrap: wrap;
        padding: 3% 0;
    }
    .smalll, .smallr {
        order: 1;
        width: 50%;
        margin: 0;
    }
    .twopicRight {
        display: flex;
        margin: 0;
        width: 100%;
    }
    .twopicRight > div {
        display: flex;
        margin: 0;
        justify-content: center;
        width: 50%;
    }

    /*Second media task.Second Page;*/
    .twosidesSecond {
        flex-direction: column-reverse;
    }
    .rightSecond {
        width: 100%;
    }
    .leftSecond {
        width: 100%;
        height: 70%;
        display: flex;
        position: relative;
        margin: 10% 0 0 5%;
    }

    /*Second media task.Third Page;*/
    .team {
        display: flex;
        flex-wrap: wrap;
    }
    .team-member {
        width: 40%;
        position: relative;
        margin: 0 auto;
    }

    /*Second media task.Fourth Page;*/
    .twosidesFourth {
        flex-direction: column-reverse;
        justify-content: space-evenly;
    }
}



/*Media tusk: < 768px;*/
@media screen and (max-width: 768px) {

    @keyframes leftSide {
        from {
            transform: translateX(-100vh);
        }
        to {
            transform: translateX(0);
        }
    }
    
    @keyframes rightSide {
        from {
            transform: translateX(100vh);
        }
        to {
            transform: translateX(0);
        }
    }
    .twosides {
        flex-direction: column;
        align-content: center;
    }
    .smalll, .smallr {
        order: unset; /*??*/
        width: 100%;
    }
    .twopicRight > div {
        width: 100%;
    }
    .left, .right {
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin: 0 1rem;
    }

    /*768 Media task.Second page*/
    .rightSecond {
        display: none;
    }

    /*768 Media task.Third page*/
    .team {
        width: 80%;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    .team-member {
        width: 100%;
    }
    .team-member > img {
        margin-top: 5%;
    }

    /*768 Media task.Fourth page*/
    .twosidesFourth {
        align-items: center;
        flex-direction: column-reverse;
    }
    .leftFourth {
        width: 100%;
    }
    .rightFourth {
        width: 100%;
    }
}