body {
    margin: 0;
    /*width: 1440px;
    height: 4809px;*/
    background-color: #212529;
}

.header-top {
    max-width: 100%;
    height: 66px;
    margin: 1.4% 4.1% 0 4.1%;
    display: flex;
    text-align: center;
    box-sizing: border-box;
    justify-content: space-between;
}

.wings {
    width: 90.16px;
    height: 66px;
}

.header-top__navbar {
    width: 35%;
    display: flex;
    justify-content: space-between;
    color: white;
    list-style: none;
    padding: 10px 0px 25px 0px;
    box-sizing: border-box;
    /*border: 1px solid yellow;*/
    margin-left: 3rem;
    margin-right: 3rem;
    text-align: center;
}

.header-top__navbar a {
    text-decoration: none;
    color: white;
}

.header-top__navbar a:hover {
    color: #FFB742;
    cursor: pointer;
}

.button__a {
    width: 121px;
    height: 54px;
    background-color: #FFB742;
    text-align: center;
    box-sizing: border-box;
    border-radius: 50px;
    margin: 0.3rem 0 0.3rem 0;
    padding-top: 13px;
}

.button__a a{
    font-family: 'Poppins';
    font-size: 1.2rem;
    font-weight: 700;
    color: #212529;
    text-decoration: none;
    text-align: center;
    align-items: center;
}

.bossblock {
    margin: 6.5rem 0 0 0;
}

.preview {
    width: 65%;
    box-sizing: border-box;
    /*border: 1px solid yellow;*/
    margin: 0 auto;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: white;
    line-height: 3.2rem;
    font-family: 'Inter';
    font-weight: 700;
}

.preview__KarBan {
    width: 38%; /*??*/
    height: 10%; /*??*/
    font-size: 2rem;
}

.KarBan a {
    text-decoration: none;
}

.yellow {
    color: #FFB742;
    border-bottom: 2px solid #FFB742;
}

.preview__qualification {
    width: 100%; /*??*/
    font-size: 3rem;
    line-height: 5.7rem;
    justify-content: space-evenly; /*??*/
}

.preview__sentence {
    font-size: 1.5rem;
    font-weight: 400;
}

.preview img {
    width: 210px;
    height: 223px;
}

.achievements {
    margin: 0 auto;
    margin-top: 8.75rem;
    width: 90%;
    height: 120px;
    display: flex;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.8rem;
    justify-content: space-between;
}

.achievements__card {
    width: 33%;
    padding: 1.5rem;
    background: rgba(56, 62, 69, 0.44);
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.bolder {
    font-size: 2rem;
    line-height: 2.5rem;
    color: #FFB742;
}

.achievements__card:hover {
    background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);
    cursor: pointer;
}

.achievements__card:hover .hover {
    color: black;
}

.achievements__card:hover .bolder {
    color: black;
}

.go {
    width: 20px;
    height: 20px;
}

.aboutMe {
    width: 96%;
    margin: 13.8rem 1.75rem 0 1.75rem;
    box-sizing: border-box;
    /*border: 1px solid yellow;*/
    display: flex;
}

.aboutMe__left {
    width: 40%;
}

.aboutMe__left img {
    width: 100%;
}

.aboutMe__right {
    width: 50%;
    display: initial;
    margin-left: 4.68rem;
}

h1 {
    width: 13.37rem;
    height: 1.875rem;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.875rem;
    color: white;
}

.AboutMe__promo {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.875rem;
    /*text-align: left;*/
    color: #D5D5D5;
    margin-top: 1.875rem;
    margin-bottom: 3.45rem;
}

.upbutton {
    width: 149px;
    height: 42px;
    background-color: rgba(255, 255, 255, 0.08);
    box-sizing: border-box;
    border-radius: 50px;
    padding: 0.375rem 1.55rem;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.25rem;
}

.upbutton a {
    text-decoration: none;
    color:#FFB742;
}

.progSkills {
    width: 100%;
    box-sizing: border-box;
    padding: 0 3% 0 3%;
    display: flex;
}

.progSkills__left {
    width: 55%;
}

.question {
    width: 100%;
    height: 35%;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.5rem;
    color: white;
    margin-left: 0.625rem;
}

.answer {
    width: 85%;
    height: 20%;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.85rem;
    color: white;
    margin: 1.875rem 0 4rem 0.625rem;
}

.progSkills__right {
    width: 30%;
}

.icons-line {
    width: 50%;
    display: flex;
}

.icon-card {
    width: 80px;
    background-color:#383E45;
    border-radius: 10px;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}

.icon-card:hover {
    background-color: rgba(255, 183, 66, 0.5);
}


.myWorks {
    width: 85%;
    min-height: 22%;
    /*padding: 0 6.45rem;*/
    margin: 8.5rem 6.45rem 0 6.45rem;
}

.upsbutton {
    width: 160px;
    height: 42px;
    background-color: rgba(255, 255, 255, 0.08);
    box-sizing: border-box;
    border-radius: 50px;
    padding: 0.375rem 1.55rem;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.25rem;
    margin: 0px auto;
}

.upsbutton a {
    color:#FFB742;
    text-decoration: none;
}

.uniquenav {
    margin: 0 auto;
}

.uniqueWorks {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.5rem;
    text-align: center;
    color: white;
}

.navbarWorks {
    width: 52%;
    display: flex;
    justify-content: space-between;
    color: white;
    list-style: none;
    padding: 0.3rem 1.56rem 0.3rem 1.56rem;
    box-sizing: border-box;
    text-align: center;
    font-size: 1rem;
    line-height: 1.88rem;
    margin: 0px auto;
    /*margin: 1.875rem 18.2rem 0 18.2rem;*/
    margin-top: 1.875rem;
}

.navbarWorks li:hover {
    background-color: #FFB742;
    color: black;
}

.manyPicture {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 3.125rem;
    display: flex;
    justify-content: space-evenly;
}

.manyPicture img {
    width: 100%;
}

.row {
    margin: 0;
    padding: 0;
}

.rowOneTwo {
    margin-top: 2rem;
}

.whatCustomerSays {
    width: 85%;
    min-height: 15%; /*??*/
    margin: 0 auto;
    margin-top: 7.75rem;
    margin-bottom: 15.5rem;
}

.upssbutton {
    width: 192px;
    height: 42px;
    background-color: rgba(255, 255, 255, 0.08);
    box-sizing: border-box;
    border-radius: 50px;
    padding: 0.375rem 1.55rem;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.25rem;
    margin: 0px auto;
}

.upssbutton a {
    color:#FFB742;
    text-decoration: none;
}

.wcs {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 2.9rem;
    text-align: center;
    color: white;
    margin-bottom: 6.25rem;
}

.footerCont {
    display: flex;
    justify-content: space-between;
}

.cardswhite {
    width: 31%;
    /*height: 70%;*/
    background-color: white;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2.125rem;
}

.stars {
    padding-top: 3.25rem;
    padding-left: 2rem;
}

.lorem {
    padding-top: 1.375rem;
    padding-bottom: 2.5rem;
    padding-left: 2rem;
    padding-right: 3.25rem;
}

.footercard {
    display: flex;
    padding-left: 2rem;
    padding-bottom: 3rem;
}

.footercard img {
    padding-bottom: 4rem;
}

.flexfooter {
    width: 36%;
    padding-left: 1.5rem;
}

.name {
    font-weight: 700;
    font-size: 1.2rem;
}

.des {
    font-size: 1rem;
}

.navfooter {
    width: 100%;
    height: 10%;
    background-color: #1C1C1C;
    font-family: 'Work Sans';
    font-weight: 500;
    line-height: 2.28rem;
    color: #7B7B7B;
    padding-top: 9.25rem;
    padding-bottom: 6rem;
    justify-content: space-between;
    text-align: justify;
    display: flex;
}

.globalfooter__self {
    width: 15.8rem;
    height: 8.125rem; 
}

.kart {
    width: 85%;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 2rem;
    color: #FFB742;
    padding-left: 3.125rem;
}

.kartsent {
    width: 85%;
    font-weight: 600;
    font-size: 1rem;
    color: #D4D4D4;
    padding-left: 3.125rem;
}

.globalfooter {
    width: 8.75rem;
    height: 14.4rem;
}

.globalfooter a:hover {
    color: #FFB742;
    cursor: pointer;
}

.titlecard {
    font-weight: 700;
    font-size: 1.35rem;
    color: white;
}

.dawnlist {
    list-style: none;
}

.dawnlist a {
    text-decoration: none;
    color: #7B7B7B;
}

.globalfooter-newsletter {
    width: 20rem;
    height: 7rem;
}

.footersentence {
    font-size: 1.125rem;
    color: #7B7B7B;
}