body {
    margin: 0;
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.7rem;
}

.header {
    width: 100%;
    height: 129px;
    background-color: black;
    display: flex;
    text-align: center;
    /*align-items: center;*/
    position: fixed;
}

.header img {
    width: 253px;
    height: 129px;
}


.navigation {
    display: flex;
    list-style: none;
    padding-left: 18rem;
    justify-content: space-between;
}

li {
    color: white;
    padding: 0px 1.5rem;
}

li a {
    text-decoration: none;
    color:white
}

.twosides {
    display: flex;
    padding-top: 8rem;
    text-align: right;
}

.twosides img {
    width: 100%;
}

.left {
    display: flex;
    padding: 1.5rem 3.2rem 0px 4.7rem;
}

.left img {
    width: 80%;
}

.circlesUp {
    text-align: center;
}

.circlesBot {
    text-align: center;
}

.services {
    width: 380px;
    font-size: 3rem;
    line-height: 3.7rem;
    align-items: center;
    padding-top: 1.2rem;
    padding-bottom: 2rem;
}

.right img {
    width: 100%;
    height: 850px;
}