body {
    margin: 0;
    padding: 0;
    color:gray;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    align-items: center;
}

.block {
    display: flex;
}

header {
    width: 50rem;
    height: 12.5rem;
    box-sizing: border-box;
    border: 3px solid red;
    padding-top: 5rem;
}

main {
    width: 50rem;
    display: flex;
    box-sizing: border-box;
    border: 3px solid green;
    box-sizing: border-box;
}

nav {
    width: 6.25rem;
    height: 25rem;
    box-sizing: border-box;
    border: 3px solid orange;
    padding-top: 10rem;
}

section {
    width: 43.75rem;
    height: 25rem;
    box-sizing: border-box;
    border: 3px solid orange;
    padding-top: 11rem;
}

footer {
    width: 50rem;
    height: 12.5rem;
    box-sizing: border-box;
    border: 3px solid grey;
    padding-top: 5rem;
    margin-bottom: 1rem;
}

.priority {
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
}

.allo {
    padding-bottom: 2rem;
    text-align: left;
}