body {
    margin: 0;
}

.rootblock {
    width: 100%;
    font-family: 'Public Sans';
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4rem;
    color: #171717;
    background-color: #E5E5E5;
}

.head {
    width: 194px;
    height: 28px;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.76rem;
    padding: 4rem 0px 4.94rem 3rem;
}

.mdtr {
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.225rem;
    padding-left: 2.68rem;
    padding-bottom: 1.5rem;
}

.red {
    color: red;
}

.bossblock {
    width: 95%;
    padding-left: 2.68rem;
}

.inform {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.46rem;
    margin-bottom: 2rem;
}

.twosides {
    display: flex;
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
}

.input {
    width: 392px;
    height: 40px;
    margin-bottom: 1.31rem;
    margin-top: 0.5rem;
    padding-left: 10px;
}

input[type="checkbox"] {
    accent-color: #FF00FF;
    width: 24px;
    height: 24px;
}

.left {
    width: 30%;
}

.blue {
    color: #0050D8;
}

.ESD {
    margin-bottom: 7.3rem;
}

.box {
    margin-bottom: 2rem;
}

.right {
    width: 30%;
    padding-left: 2rem;
    padding-right: 2.81rem;
}

.btn {
    width: 69px;
    height: 40px;
    background-color: #0050D8;
    color: white;
    padding: 12px 16px;
    border-radius: 4px;
    font-weight: 700;
    box-sizing: border-box;
    margin-left: 85rem;
}

.stripdown {
    background-image: url("../Img/StripesDown.svg");
    background-size: 3%;
    background-repeat: no-repeat;
    background-position: 360px;
}

.glass {
    background-image: url("../Img/glass.svg");
    background-size: 5%;
    background-repeat: no-repeat;
    background-position: 360px;
}