body {
    margin: 0;
}

.page {
    background-color: #001124;
    width: 100%;
    height: 100%;
    margin: 0px auto;
}

.left {
    width: 100%;
    padding-top: 7rem;
    display: flex;
}

.left img {
    width: 50%;
    height: 50%;
}

.right {
    height: 100%;
    margin-top: 3.5rem;
    margin-left: 6.7rem;
}

.form {
    width: 90%;
    height: 75%;
    font-family: 'Padauk';
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: white;
}

.form a {
    text-decoration: none;
    color: #499FFE;
}

.nextpage {
    width: 3.75rem;
    height: 1.875rem;
    margin-top: 0.7rem;
    color: saddlebrown;
}

.input {
    width: 22.55rem;
    height: 2.7rem;
}

.login {
    width: 7rem;
    height: 3.875rem;
    font-family: 'DM Serif Display';
    font-size: 2.8rem;
    line-height: 3.875rem;
    margin-bottom: 2.625rem;
}

.pswrd {
    margin-top: 0.7rem;
}

.nextpage {
    width: 3.75rem;
    height: 1.875rem;
    margin-top: 0.7rem;
    color: saddlebrown;
}

.btn {
    width: 180px;
    height: 43px;
    font-weight: 700;
    background-color: #015FC7;
    color: white;
}

.btn a {
    text-decoration: none;
    color: white;
}