body {
    margin: 0;
}


.header {
    width: 34.25rem;
    height: 3.4rem;
    margin-top: 1.55rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.general-font {
    font-weight: 25rem;
    font-size: 3.5rem;
    line-height: 4,4rem;
    letter-spacing: 10%;
}

.str {
    font-family: 'M, PLUS 1', sans-serif;
    color: #3E45E8;
}

.ukr {
    font-family: 'Marcellus', sans-serif;
    color: #E8C23E;
}

.baner {
    margin-top: 2rem;
    background-image: url("../ImgHW4/oboiback.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.prp {
    width: 1.45rem;
    height: 18rem;
    margin-top: 15rem;
    margin-left: 5rem;
    float: left;
}

.middle {
    width: 100%;
    max-width: 64.75rem;
    height: 19rem;
    padding-top: 12rem;
    padding-bottom: 14.75rem;
    padding-left: 8.8rem;
    padding-right: 16.45rem;
}

.sntnc {
    font-family: 'Inika', sans-serif;
    font-weight: 44rem;
    font-size: 3rem;
    line-height: 4.75rem;
    color: #FFFFFF;
}

h1 {
    width: 38.12rem;
    height: 3.93rem;
    text-align: left;
    font-family: 'Inika', sans-serif;
    font-weight: 43.75rem;
    font-size: 2.5rem;
    line-height: 63px;
    margin-top: 48px;
    margin-left: 5rem;
    color: #000000;
}

.grad {
    margin-right: 661px;
    margin-top: 5px;
}

/*Используем минимальное кол-во классов,
если они похожи*/
.card {
    width: 30%;
    min-height: 481px;
    border: 5px solid #0D095F;
    border-radius: 30px;
    background-color: white;
    box-shadow: -8px 8px 40px 3px blue;
    display: inline-block;
    vertical-align: top;
}

.margin-card {
    margin: 0 3.7%;
}

.grtplc {
    margin-top: 2.6rem;
}

.grtplc img {
    width: 100%;
}

.BlLt {
    font-weight: 700px;
    font-family:'Inika';
    font-size: 24px;
    line-height: 38px;
    color: #0072DB;
    /*padding: 16.11px 114.2px 124px 10px;*/

}


.YlLt {
    font-weight: 400px;
    font-family:'Inika';
    font-size: 20px;
    line-height: 31px;
    color: #FF9900;
}

.map-container {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.power {
    margin-top: 2.8rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-family: 'Inika';
    font-weight: 700;
    line-height: 4rem;
    letter-spacing: 3px;
    color: black;
    position: relative;
    left: 60px;
}

.blue-line {
    margin-right: auto;
    margin-left: auto;
    height: 7px;
    width: 60%;
    margin-bottom: 40px;
    background-color: #1400ff;
    position: relative;
    left: 2%;
}

.imgUK {
    display: block;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.imgUK img {
    width: 100%;
}

.knopka {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #2A61F0;
    color: white;
    letter-spacing: 3px;
    font-size: 36px;
    font-weight: 700;
    border-radius: 50px;
    width: 499px;
    height: 81px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.btcntr {
    text-align: center;
}

.btlatter {
    font-family: 'Inika';
    font-weight: 700px;
    font-size: 64px;
    line-height: 100.67px;
    color: white;
    margin-left: 0;
    margin-right: 0;
}

.ft {
    background: linear-gradient(190deg, #013235 0%, #0D0661 100% );
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

.ft a {
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Marcellus SC';
    font-size: 36px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.1rem;
    margin-right: 10px;
    color: #A89D9D;
    padding-top: 5px;
}

.social a {
    font-family: 'Marcellus SC';
    font-size: 36px;
    font-weight: 400px;
    line-height: 50px;
    letter-spacing: 0.1rem;
    margin-right: 10px;
    color: #A89D9D;
    display: inline-block;
}

/*Все font-size в EM && REM*/